header > * {
    display: inline-block;
}

.bigger {
    font-size: 30px;
    width: 50%;
}

.smallbox {
    width: 80%;
}

.right {
    text-align: right;
    margin: auto;
}

ul {
    list-style: none;
}


li {
    display:inline;
    font-size: 18px;
    margin: 10px;
    text-align: right;
}

h2 {
    text-align: center;
}

.center {
    width:700px;
    padding-top: 0px;
    padding-left: 300px;
    padding-right: 200px;
    padding-bottom: 10px;
    height: auto;
}

.center2 {
    width: 20%;
    margin-left: 40%; 
    height: auto;
}

#date {
text-align: center;
color: rgb(158, 158, 158, 50);
font-size: 12px;
}

#twitter-like {
background-color: rgb(100, 170, 205, 200);
color: white;
width: 12%;
margin-left: 44%;
font-size: 14px;
padding-left: 20px;
}